<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored') %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored') %>
  </li>
<% end %>
